@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.font-one {
  font-family: "Ubuntu", sans-serif;
}
.font-two {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.custom-bg {
  background-color: rgb(34, 32, 32);
}
.custom-bg2 {
  background-color: #3c3e41;
}
html {
  scroll-behavior: smooth;
}
/* .svg-icon svg {
  display: none;
  transition: ease-in-out 500;
}
.custom-bg:hover .svg-icon svg {
  display: block;
} */
/* 
transform hover:-translate-y-1 hover:scale-110 
transition duration-500 ease-in-out
 */
